@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-[#0E0E11] text-white font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-[-0.01em];
  }
}

@layer utilities {
  .mask-gradient-b {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}